@import "reset";


html{
  background-color: #2C41FF;
}
header{     
  background-color: #2C9FFF;
  height: 200px;
  width:100%;
  padding: 25px 0 0 7%;

  h1{
    font-family: 'Slackey', cursive;
    font-size: 60px;
    letter-spacing: 10px;
  }
  img{
    float: left;
  }
}

div.info{
  background: white;
  width: 50%;
  border-radius: 20px;
  height: 300px;
  padding:30px 50px;
  line-height: 2em;
  margin: 75px auto;
  h2{
    font-family: 'Slackey', cursive;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
  }
}